@model ICBA.Web.Models.RegisterViewModel
<div class="loginbox">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "loginform", @class = "form-vertical", role = "form" }))
    {
        <center>@Html.AntiForgeryToken()
        <h2>Create a new account.</h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 form-actions">
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div></center>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
